html {
    font-size: 16px;
    background-color: #0B2027;
    color: #BAC7BE;
    overflow: scroll;
    scrollbar-width: thin;
    overflow-x: hidden;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 80%;
    margin: 0 auto;
    min-width: 350px;
  }
  
  .gay {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
    color: transparent;
    background-clip: text;
}

[ungay] {
    background-image: none;
    color: inherit;
}
